#print {
  display: grid !important;
  background-color: transparent;
  width: 64mm;
  height: 32mm;
  padding-top: 2mm;
  padding-bottom: 2mm;

  .page {
    padding-top: 2mm;
    padding-bottom: 2mm;
  }

  .column {
    padding: 1mm;
  }
}
