<div
  class="print-layout"
  [style]="{width: pageWidth, height: pageHeight}"
  [gdRows]="pagesToGridFractions"
  [gdGap]="marginWidth"
  gdAlignColumns="center"
  gdAlignRows="center"
>
  <div
    *ngFor="let page of pages"
    [gdColumns]="colsToGridFractions"
    gdAlignColumns="center"
    gdAlignRows="center"
    [gdGap]="columnGap"
  >
    <app-label-layout
      *ngFor="let col of columns"
      [barCode]="barCode"
      [initials]="initials"
      [dateCreated]="dateCreated"
    ></app-label-layout>
  </div>
</div>
