/* https://css-tricks.com/dont-overthink-flexbox-grids/ */
.flex-grid {
  display: flex;
  align-items: center;
}

.flex-grid-plot .col {
  flex: 2;
}

* {
  box-sizing: border-box;
}

mat-form-field {
  margin: 20px;

}

mat-card {
  margin: 20px;
}

body {
  padding: 20px;
}
button {
  padding: 20px;
}
.flex-grid { 
  margin: 0 20px 20px 0;
}
.col {
  padding: 20px;
}

