.date,
.time,
.location,
.barcode {
  position: absolute;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
  font-size: 6pt;
}

.label-layout {
  position: relative;
  width: 24.6mm;
  height: 24.6mm;
  border: 2mm solid transparent;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0;

  .date {
    top: 0;
    width: 100%;
  }

  .barcode {
    bottom: 0;
    width: 100%;
  }

  .time {
    top: calc(50% - 3mm);
    left: 0;
  }

  .location {
    top: calc(50% - 3mm);
    right: 0;
  }

  qrcode-svg, app-barcode-data-matrix {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11mm;
    margin-top: -11mm;
    width: 22mm;
    height: 22mm;
  }
}
