<div
  class="full-height bg-primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <mat-card fxFlex="50%">
    <mat-card-header>
      <h1>Scan Barcode</h1>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-form-field class="barcode-input" fxFlex="95%">
        <mat-label>Barcode ID #</mat-label>
        <input
          #barCodeInput="matInput"
          matInput
          type="text"
          [formControl]="barCodeFormControl"
          (change)="checkBarCodeValue()"
          (keyup.enter)="goPrint()"
        >
        <mat-error *ngIf="barCodeFormControl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="barCodeFormControl.hasError('pattern')">Please enter exactly 9 or 14 digits.</mat-error>
      </mat-form-field>
      <mat-form-field class="initials-input" fxFlex="95%">
        <mat-label>Initials or 6-character UVA Computing ID</mat-label>
        <input
          #initialsInput="matInput"
          matInput
          type="text"
          [formControl]="initialsFormControl"
          (change)="checkInitialsValue()"
          (keyup.enter)="goPrint()"
        >
        <mat-error *ngIf="initialsFormControl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="initialsFormControl.hasError('pattern')">Please enter only 2-5 letters.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        #nextButton="matButton"
        mat-flat-button
        class="btn-lg"
        color="accent"
        [disabled]="hasErrors"
        (click)="goPrint()"
        fxFlex="50%"
      >Next <mat-icon>navigate_next</mat-icon></button>
      <button
        mat-flat-button
        class="btn-lg"
        (click)="resetForm()"
        fxFlex="50%"
      ><mat-icon>restore</mat-icon> Reset</button>
    </mat-card-actions>
  </mat-card>

</div>
