@import 'src/config';

::ng-deep .loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 100;
}

@media screen {
  #media-print { display: none !important; }
  #media-screen {
    display: flex !important;

  }
}

@media print {
  @page {
    margin: 0 !important;
    padding: 0 !important;
  }

  ::ng-deep html,
  ::ng-deep body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    overflow: hidden;
  }

  ::ng-deep .no-print,
  ::ng-deep mat-card,
  ::ng-deep app-navbar,
  ::ng-deep app-footer {
    display: none;
  }

  #media-print {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #media-screen { display: none !important; }
}

.mat-card-content {
  background-color: $brand-gray-tint-2;
  height: 500px;
}
