<div
  id="media-screen"
  class="full-height bg-primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <mat-card fxFlex="50%">
    <mat-card-header>
      <h1>Print Labels</h1>
    </mat-card-header>

    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="isSaved; else loadingMessage"
      [ngStyle]="{height: pageHeight}"
    >
      <app-print-layout
        [cardNum]="cardNum"
        [initials]="initials.toUpperCase()"
        [dateCreated]="dateCreated"
      ></app-print-layout>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button
        id="btn_print"
        #saveAndPrintButton="matButton"
        mat-flat-button
        class="btn-lg"
        color="accent"
        (click)="saveAndPrint()"
        autofocus
        fxFlex="33%"
      ><mat-icon>print</mat-icon> Print labels</button>
      <button
        #doneButton="matButton"
        mat-flat-button
        class="btn-lg"
        routerLink="/"
        fxFlex="33%"
      ><mat-icon>cancel</mat-icon> Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>

<div
  id="media-print"
>
  <app-print-layout
    [cardNum]="cardNum"
    [initials]="initials.toUpperCase()"
    [dateCreated]="dateCreated"
  ></app-print-layout>
</div>

<ng-template #loadingMessage>
  <app-loading
    message="Contacting the server..."
    size="lg"
  ></app-loading>
</ng-template>
