<div
  id="media-screen"
  class="full-height bg-primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <mat-card fxFlex="50%">
    <mat-card-header>
      <h1>Print Labels</h1>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <app-print-layout
        [barCode]="barCode"
        [initials]="initials"
        [dateCreated]="dateCreated"
      ></app-print-layout>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-flat-button class="btn-xl margin-4" color="accent" (click)="saveAndPrint()">Print labels</button>
    </mat-card-actions>
  </mat-card>
</div>

<div id="media-print">
  <app-print-layout
    [barCode]="barCode"
    [initials]="initials"
    [dateCreated]="dateCreated"
  ></app-print-layout>
</div>
