// GLOBAL SCSS VARIABLES
$body-font-family: 'franklin-gothic-urw', sans-serif;
$heading-font-family: 'franklin-gothic-urw-cond', sans-serif;

// COLOR PALETTE

// gray
$brand-gray: #4e4e4e;
$brand-gray-tint-1: #666666;
$brand-gray-tint-2: #DADADA;
$brand-gray-tint-3: #F1F1EF;
$brand-gray-tint-4: scale-color($brand-gray, $lightness: 90%);
$body-color: $brand-gray;
$brand-gray-shade-1: scale-color($brand-gray, $lightness: -20%);
$brand-gray-shade-2: scale-color($brand-gray, $lightness: -40%);
$brand-gray-shade-3: scale-color($brand-gray, $lightness: -60%);
$brand-gray-shade-4: scale-color($brand-gray, $lightness: -80%);
$brand-gray-shade-5: scale-color($brand-gray, $lightness: -100%);
$body-color-muted: $brand-gray-tint-1;
$body-color-light: $brand-gray-tint-4;
$brand-gray-muted: $brand-gray-tint-1;
$brand-gray-light: $brand-gray-tint-4;

// primary (UVA "Jefferson Blue")
$brand-primary: #232D4B;
$brand-primary-tint-1: #394E79;
$brand-primary-tint-2: #6C799C;
$brand-primary-tint-3: #A9AFC7;
$brand-primary-tint-4: scale-color($brand-primary, $lightness: 90%);
$brand-primary-shade-1: #092255;
$brand-primary-shade-2: #041D4F;
$brand-primary-shade-3: #02194A;
$brand-primary-shade-4: #021745;
$brand-primary-shade-5: #03143E;
$brand-primary-muted: $brand-primary-tint-1;
$brand-primary-light: $brand-primary-tint-4;

// accent (UVA "Rotunda Orange")
$brand-accent: #E57200;
$brand-accent-tint-1: #F69350;
$brand-accent-tint-2: #FAB584;
$brand-accent-tint-3: #FDD8BB;
$brand-accent-tint-4: scale-color($brand-accent, $lightness: 90%);
$brand-accent-shade-1: #E76E25;
$brand-accent-shade-2: #DD6923;
$brand-accent-shade-3: #D36421;
$brand-accent-shade-4: #C8601F;
$brand-accent-shade-5: #C05B1D;
$brand-accent-muted: $brand-accent-tint-1;
$brand-accent-light: $brand-accent-tint-4;

// warning (UVA "Emergency Red")
$brand-warning: #DF1E43;
$brand-warning-muted: desaturate(scale-color($brand-warning, $lightness: 30%), 20%);
$brand-warning-light: scale-color($brand-warning, $lightness: 90%);

// Green
$brand-green: #64B343;
$brand-green-muted: #8EC774;
$brand-green-light: #B5D9A3;

// Dimensions
$easeDuration: 300ms;
$animationDuration: 500ms;
$header-height: 84px;
