@import "material";

@include mat-core($custom-typography);
@include angular-material-theme($cr-connect-theme);

@mixin cr-connect-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding-top: $header-height;
  }

  app-navbar {
    @include mat-elevation(4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .mat-display-4 {
    color: $brand-primary;
    border-bottom: 1px solid $brand-gray-light;
  }

  mat-radio-button, .mat-checkbox {
    padding-right: 16px;
  }

  formly-field mat-form-field {
    margin-bottom: 2rem;
  }

  formly-field.textarea-cols {
    display: flow-root;

    & > formly-wrapper-mat-form-field > mat-form-field {
      width: auto !important;

      .mat-form-field-infix {
        width: auto !important;
      }
    }
  }

  formly-field.read-only {
    pointer-events: none;

    input.mat-input-element::placeholder { color: $brand-gray; }

    .mat-form-field-outline,
    .mat-form-field-outline.mat-form-field-outline-thick {
      background-color: $brand-gray-tint-3;
      border-radius: 5px;
      border: none;
      outline: none;

      .mat-form-field-outline-start,
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end {
        border: none;
      }
    }
  }

  formly-field.vertical-radio-group {
    mat-radio-button {
      margin: 5px;
      padding-right: 16px;
      display: block;

      label.mat-radio-label {
        white-space: normal;
      }
    }
  }

  formly-field.vertical-checkbox-group {
    .mat-checkbox {
      margin: 5px;
      padding-right: 16px;
      display: block;

      .mat-checkbox-layout {
        white-space: normal;
      }
    }
  }

  .full-height {
    width: 100%;
    height: calc(100vh - 64px);
  }

  .container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    position: relative;
    max-width: 100vw;

    .row {
      margin-top: 4em;
      margin-bottom: 4em;
      position: relative;

      max-width: 100vw;
      @media (min-width: 576px) {
        max-width: calc(100% - 40px);
      }
      @media (min-width: 768px) {
        max-width: calc(100% - 80px);
      }
      @media (min-width: 992px) {
        max-width: calc(100% - 100px);
      }
      @media (min-width: 1200px) {
        max-width: calc(100% - 120px);
      }
    }
  }

  .mat-card-actions {
    button {
      margin: 4px;
    }
  }

  button {
    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 4px $brand-accent !important;

      .mat-button-wrapper {
        text-shadow: 0 0 0 2px white, 0 0 0 4px $brand-accent !important;
      }
    }

    &.btn-xl {
      font-size: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.btn-lg {
      font-size: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }

    &.disabled {
      background-color: $brand-gray !important;
    }
  }

  .alert {
    padding: 2em;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 2em;

    &.alert-info {
      background-color: $brand-primary-light;
      color: black;
    }

    &.alert-warn {
      background-color: $brand-warning;
      color: white;
    }
  }

  .mat-drawer .mat-nav-list .mat-list-item {
    min-width: 320px;
  }

  .mat-drawer .mat-nav-list .mat-list-item.active {
    background-color: $brand-primary;
    color: white;
  }

  .mat-accordion .mat-expansion-panel, .mat-expansion-panel {
    border-bottom: 1px solid $brand-gray-tint-2;
    border-radius: 0;

    .mat-expansion-panel-header {
      padding: 2rem;

      &.mat-expanded {
        background-color: $brand-gray-light;
      }
    }

    ::ng-deep .mat-expansion-indicator {
      margin: 1rem;

      &::after {
        padding: 6px;
        border-width: 0 4px 4px 0;
      }
    }

    ::ng-deep .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 1rem;
      }
    }
  }

  .bg-primary { background-color: $brand-primary; }
  .bg-accent { background-color: $brand-accent; }

  .pad-0 { padding: 0; }
  .pad-1 { padding: 1em; }
  .pad-2 { padding: 2em; }
  .pad-3 { padding: 3em; }
  .pad-4 { padding: 4em; }
  .pad-5 { padding: 5em; }
  .pad-6 { padding: 6em; }
  .pad-7 { padding: 7em; }
  .pad-8 { padding: 8em; }

  .margin-0 { margin: 0; }
  .margin-1 { margin: 1em; }
  .margin-2 { margin: 2em; }
  .margin-3 { margin: 3em; }
  .margin-4 { margin: 4em; }
  .margin-5 { margin: 5em; }
  .margin-6 { margin: 6em; }
  .margin-7 { margin: 7em; }
  .margin-8 { margin: 8em; }
  .margin-9 { margin: 9em; }

  .margin-top-none, .row.margin-top-none {
    margin-top: 0px !important;
  }
  .margin-bottom-none, .row.margin-bottom-none {
    margin-bottom: 0px !important;
  }
  .ghost {
    opacity: 0;
  }

  // XS
  @media (max-width: 575px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 100%;
      height: 100%;
    }

    mat-dialog-container.mat-dialog-container {
      border-radius: 0;
    }
  }

  // SM
  @media (min-width: 576px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 90%;
      height: 90%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 100vw;
    }
  }

  // MD
  @media (min-width: 768px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 90vw;
    }
  }

  // LG
  @media (min-width: 992px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 80vw;
    }
  }

  // XL
  @media (min-width: 1200px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 70vw;
    }
  }

  .mat-dialog-content[mat-dialog-content] {
    max-height: 85vh;
  }

  .loading {
    height: calc(100vh - 64px);
  }

  mat-form-field {
    &.mat-form-field, &.mat-form-field-should-float label {
      font-size: 20px;
    }
  }

  .mat-form-field-wrapper .mat-form-field-subscript-wrapper {
    position: static;
  }

  markdown {
    a {
      color: $brand-accent;

      &:hover {
        color: $brand-accent-shade-5;
      }
    }

    h1 {
      font-size: 24px;
    }

    blockquote {
      border: 1px solid $brand-gray-tint-2;
      border-radius: 4px;
      padding: 2rem;
      margin-bottom: 2rem;
      margin-left: 0;
    }

    table {
      border-collapse: collapse;

      tr:hover {
        background-color: rgba($brand-gray, 0.1);
      }

      thead {
        border-bottom: 1px solid $brand-gray;
      }

      td, th {
        border-right: 1px solid $brand-gray;
        padding: 0.5rem;
        font-size: 1rem;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  mat-card.dashboard {
    @include mat-elevation(0);

    margin: 26px;
    padding: 0;
    cursor: pointer;
    border: 1px solid $brand-gray-tint-2;

    mat-card-content {
      mat-list {
        margin: 0;
        padding: 0;
      }

      mat-list-item {
        border-bottom: 1px solid $brand-gray-tint-2;
        height: inherit;

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          background-color: $brand-gray-light;

          &.workflow_state--disabled             { opacity: 0.5; pointer-events: none; background-color: white; }
          &.workflow_state--hidden               { display: none; }
          &.workflow_state--required,
          &.workflow_state--optional {
            background-color: $brand-gray-light;
          }
        }

        .mat-list-item-content {
          padding: 2rem;
        }

        &.workflow_status--not_started         { color: $brand-gray; }
        &.workflow_status--user_input_required { color: $brand-gray; }
        &.workflow_status--waiting             { color: $brand-gray; }
        &.workflow_status--complete            { color: $brand-gray; }

        &.workflow_state--required             { background-color: $brand-accent-light; }
        &.workflow_state--disabled             { opacity: 0.5; pointer-events: none; }
        &.workflow_state--hidden               { display: none; }
        &.workflow_state--optional             { background-color: white; }
      }

      .workflow-label {
        font-size: 1rem;
        white-space: nowrap;
        margin-right: 1rem;

        &.not_started { color: black; }
        &.user_input_required { color: $brand-accent; }
        &.waiting { color: $brand-accent; }
        &.complete { color: $brand-gray-tint-1; }
      }

      .inactive-message {
        color: $brand-gray;

        mat-icon {
          font-size: 48px;
          margin-right: 32px;
        }
      }
    }
  }


  svg.label-layout-format {
    text, tspan {
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      font-stretch: normal;
      font-size: 2.11666656px; // 6pt
      line-height: 1.25;
      font-family: monospace;
      text-align: center;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-variant-numeric: normal;
      font-feature-settings: normal;
      font-variant-numeric: normal;
      font-feature-settings: normal;
      text-anchor: middle;
    }

    @media print {
      .label-layout-border {
        stroke: transparent;
      }
    }
  }
}
