<div
  class="full-height bg-primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <mat-card fxFlex="50%">
    <mat-card-header>
      <h1>Change Settings</h1>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-form-field class="location-input" fxFlex="95%" >
        <mat-label>Location ID #</mat-label>
        <input
          #locationIdInput="matInput"
          matInput
          type="number"
          [formControl]="locationIdFormControl"
          (keyup.enter)="save()"
        >
        <mat-error *ngIf="locationIdFormControl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="locationIdFormControl.hasError('pattern')">Please enter a number between 1 and 4 digits long.</mat-error>
      </mat-form-field>
      <mat-form-field class="label-layout-select" fxFlex="95%">
        <mat-label>Label layout</mat-label>
        <mat-select
          #labelLayoutSelect="matSelect"
          [formControl]="labelLayoutFormControl"
        >
          <mat-select-trigger>{{selectedLabelLayout.name}}</mat-select-trigger>
          <mat-option
            *ngFor="let layout of labelLayouts"
            [value]="layout.id"
            [ngStyle]="{height: 'inherit', width: 'inherit'}"
          >
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
              <div fxFlex="50%" [ngStyle]="{whiteSpace: 'normal', lineHeight: '1.2'}">
                {{layout.name}}
              </div>
              <div fxFlex="50%">
                <app-circle-qrcode-single *ngIf="layout.id === 'circle_qrcode_single'" [sample]="sampleForLayout(layout)"></app-circle-qrcode-single>
                <app-circle-qrcode-double *ngIf="layout.id === 'circle_qrcode_double'" [sample]="fakeSample"></app-circle-qrcode-double>
                <app-rectangle-3x1-code128 *ngIf="layout.id === 'rectangle_3x1_code128'" [sample]="fakeSample"></app-rectangle-3x1-code128>
                <app-rectangle-code128 *ngIf="layout.id === 'rectangle_code128'" [sample]="fakeSample"></app-rectangle-code128>
                <app-rectangle-datamatrix *ngIf="layout.id === 'rectangle_datamatrix'" [sample]="fakeSample"></app-rectangle-datamatrix>
              </div>
            </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="labelLayoutFormControl.hasError('required')">This field is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="num-copies-input" fxFlex="95%">
        <mat-label>Number of copies of label</mat-label>
        <input
          #numCopiesInput="matInput"
          matInput
          type="number"
          [formControl]="numCopiesFormControl"
          (keyup.enter)="save()"
        >
        <mat-error *ngIf="numCopiesFormControl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="numCopiesFormControl.hasError('pattern')">Please enter only 2-5 letters.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        class="btn-xl"
        color="accent"
        [disabled]="!hasInfo"
        (click)="save()"
      >Save <mat-icon>save</mat-icon></button>
      <button
        mat-flat-button
        class="btn-xl"
        routerLink="/"
      ><mat-icon>cancel</mat-icon> Cancel</button>
    </mat-card-actions>
  </mat-card>

</div>
